/* Dark theme with color blindness accessibility and WCAG contrast compliance */
:root {
  --figure-color: #EBEBEB;
  --figure-color-subtle: #6a6a6a;
  --graphic-color: #4C4C4C;
  --hill-color: #2e2e2e;
  --ground-color: #101010;
  --section-color: #2E2E2E;
  --accent-color: #94B5E9;
  --hover-focus-color: #FEEB86;
}

/* CSS Reset */
* {
  /* margin: 0; */
  /* padding: 0; */
  color: var(--figure-color);
  background-color: var(--ground-color);
  border-color: var(--graphic-color);
}

/* elements */

html {
  font-size: 13pt;
  line-height: 21pt;
}

a {
  color: var(--accent-color);
  /* text-decoration: none; */
}

a:focus,
a:hover {
  color: var(--hover-focus-color);
}

button {
  background-color: var(--graphic-color);
  color: var(--figure-color);
  padding: 13pt;
  font-size: 21pt;
}

button:focus,
button:hover {
  color: var(--ground-color);
  background-color: var(--hover-focus-color);
}

p {
  margin: 0 0 0 0;
}

legend {
  color: var(--figure-color);
  background-color: var(--ground-color);
}

label {
  color: var(--figure-color);
}


input, select {
  padding: 8pt;
  font-size: 13pt;
  border-bottom: 1pt solid var(--graphic-color);
} 

output {
  padding: 8pt;
  font-size: 21pt;
}

/* classes */

.section {
    border-radius: 13pt;
    border-top: 1pt solid var(--hill-color);
}

.col {
  display: flex;
  flex-direction: column;
  padding: 13pt;
  margin: 0;
  gap: 8pt;
}

.row {
  display: flex;
  padding: 0 13pt;
  margin: 0;
  gap: 13pt;
  align-items: center;
}
