/* Dark theme with color blindness accessibility and WCAG contrast compliance */
:root {
  --figure-color: #EBEBEB;
  --figure-color-subtle: #6a6a6a;
  --graphic-color: #4C4C4C;
  --ground-color: #101010;
  --section-color: #2E2E2E;
  --accent-color: #94B5E9;
  --hover-focus-color: #FEEB86;
}

/* CSS Reset */
* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  color: var(--figure-color);
  background-color: var(--ground-color);
  border-color: var(--graphic-color);
}

/* html {
  font-size: 13pt;
} */

/* body {
  font-family: Arial, sans-serif;
  font-size: 13pt;
  line-height: 1.618;
} */

a {
  color: var(--accent-color);
  /* text-decoration: none; */
}

a:focus,
a:hover {
  color: var(--hover-focus-color);
}

button {
  background-color: var(--graphic-color);
  color: var(--figure-color);
  /* border: none;
  cursor: pointer;
  font-size: 13pt; */
}

button:focus,
button:hover {
  color: var(--ground-color);
  background-color: var(--hover-focus-color);
}

/*
h1 {
  text-align: center;
  font-size: 34pt;
}
*/

/*
main {
  padding: 21px;
} 
*/

/*
fieldset {
  border: 0px solid var(--graphic-color);
  border-radius: 13pt;
  margin: 13pt; 
} 
*/

legend {
  /* text-align: center; */
  color: var(--figure-color);
  background-color: var(--ground-color);
  /* padding: 8pt; */
}

label {
  /* display: block; */
  /* font-weight: bold;0 */
  color: var(--figure-color);
  /* padding: 0pt 8pt; */
  /* margin: 0pt; */
}

/*
input, select {
  width: 100%;
  padding: 8pt;
  margin: 8pt 8pt;
} 
*/

/* Flexbox layout for rows */
.row {
  display: flex;
  align-items: center; /* Vertically centers label and input */
  margin-bottom: 10px;
}